@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    min-height: 100vh;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.4em;
    text-transform: none;
    color: #5c5c5c;
    max-width: 100vw;
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100%;
    /* height: 20vh; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    box-sizing: border-box;
    padding: 32px 64px;
    color: #fff;
    background-color: #06bcc1;
}

/* header  h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -16px;
} */

div.icon h4 {
    font-weight: 600;
    font-size: 20px;
    margin: 21px 0;
}

header h4 {
    font-weight: normal;
    font-size: 16px;
}

nav {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #fff;;
}

nav a h4{
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: border-bottom 2s;
}

nav a h4:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

/* a p {
    text-decoration: none;
    color: #5c5c5c;;
    transition: scale 0.5s;
}

a p:hover {
    scale: 1.25;
} */

section {
    width: 100vw;
    box-sizing: border-box;
    padding: 32px;
}

section.about {
    width: 100%;
    margin: 0;
    padding: 32px 64px;
}

section.services {
    width: 100%;
    margin: 0;
    padding: 32px 64px;
}

section.contact {
    width: 50vw;
    margin: auto;
    text-align: center;
    margin-top: 64px;
}

section.index {
    width: 100%;
    margin: 0;
    padding: 32px 256px;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* column-gap: 64px;
    min-height: 70vh; */
}

div.summary {
    position: relative;
    margin-top: 64px;
}

div.service-summary {
    position: relative;
    margin-top: 64px;
} 

div.button {
    margin-top: 32px;
}


section.about h1 {
    padding-bottom: 32px;
}

section.about h4 {
    font-weight: 500;
    margin-top: -10px;
}

div.bio {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border-bottom: 2px solid #06bcc1;
    padding-bottom: 64px;
    
}

div.image {
    width: 30%;
}

div.image img {
    width: 100%;
}

div.text {
    width: 50%;
    margin: auto;
}

div.memberships {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 64px 64px;
}

div.service-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    /* padding: 64px 64px; */
    padding: 32px 0;
    border-bottom: 2px solid #06bcc1;
}

div.left {
    width: 30%;
}

div.right {
    width: 50%;
    margin: auto; 
}

span {
    padding: 12px;
    border-radius: 10px;
    background-color: #06bcc1;
    color: white;
    opacity: 1;
    transition: opacity 0.5s;
    font-size: smaller;
    margin-top: 32px;
}

span:hover {
    opacity: 0.5;
}

footer {
    width: 100%;
    margin-top: 132px;
    background-color: #06bcc1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 64px;

}

footer p {
    color: #fff;
}

div.footer-nav {
    width: 360px;
    display: flex;
    justify-content: space-evenly;
}

div.footer-nav h4 {
    font-weight: normal;
}

@media (max-width: 500px) {
    header {
        padding: 8px 16px;
        align-items: center;
    }

    header h4 {
        font-size: 12px;
    }

    div.icon h4 {
        font-size: 12px;
        width: 140px;
        line-height: 1.2;
    }

    nav {
        width: 40vw;
        margin-bottom: -8px;
    }

    section.index {
        padding: 8px 64px;
        font-size: 12px;
    }

    section.index p {
        font-size: 10px;
    }

    span {
        padding: 8px;
    }

    section.services {
        font-size: 12px;
    }

    section.service p {
        font-size: 10px;
    }

    div.service-container {
        flex-direction: column;
    }

    div.left {
        width: 100%;
        margin-top: 64px;
    }

    div.right {
        width: 100%;
    }

    section.about {
        font-size: 12px;
    }

    section.about p {
        font-size: 10px;
    }

    section.about h4 {
        margin-top: 16px;
    }


    div.bio {
        flex-direction: column;
    }

    div.image {
        width: 100%;
    }

    div.text {
        width: 100%;
    }

    div.memberships {
        flex-direction: column;
        padding: 0;
    }

    section.contact {
        width: 100%;
        text-align: start;
        font-size: 10px;
    }

    footer {
        padding: 8px 16px;
        font-size: 10px;
    }

    div.footer-nav {
        width: 40vw;
    }

}